//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 05 03:25:06 2022
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "entrada" LOCATE = SITE "P70" LEVEL 1;
COMP "R_data" LOCATE = SITE "P13" LEVEL 1;
COMP "clk_12" LOCATE = SITE "P129" LEVEL 1;
COMP "RXIN" LOCATE = SITE "P11" LEVEL 1;
COMP "Salida" LOCATE = SITE "P10" LEVEL 1;
COMP "RXDATA<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "RXDATA<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "RXDATA<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "RXDATA<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "RXDATA<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "RXDATA<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "RXDATA<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "RXDATA<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "rst" LOCATE = SITE "P80" LEVEL 1;
NET "clk_12_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

