//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 03 23:32:55 2022
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DOUT" LOCATE = SITE "P30" LEVEL 1;
COMP "clk_12" LOCATE = SITE "P129" LEVEL 1;
COMP "R_DATA" LOCATE = SITE "P46" LEVEL 1;
COMP "D_OUT<10>" LOCATE = SITE "P7" LEVEL 1;
COMP "D_OUT<11>" LOCATE = SITE "P8" LEVEL 1;
COMP "D_OUT<0>" LOCATE = SITE "P19" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P32" LEVEL 1;
COMP "D_OUT<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "D_OUT<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "D_OUT<3>" LOCATE = SITE "P20" LEVEL 1;
COMP "D_OUT<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "D_OUT<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "D_OUT<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "D_OUT<7>" LOCATE = SITE "P13" LEVEL 1;
COMP "D_OUT<8>" LOCATE = SITE "P10" LEVEL 1;
COMP "D_OUT<9>" LOCATE = SITE "P11" LEVEL 1;
COMP "Chip_Select" LOCATE = SITE "P31" LEVEL 1;
COMP "DIN" LOCATE = SITE "P28" LEVEL 1;
COMP "rst" LOCATE = SITE "P80" LEVEL 1;
COMP "Enable" LOCATE = SITE "P70" LEVEL 1;
NET "clk_12_IBUF1" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

